.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

venv/
.env
.env.*
.env.prod
.env

media/
staticfiles/

.idea/

pytest_cache/
.mypy_cache/

../web/Dockerfile
docker-compose.override.yml
