services:
  web:
    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/usr/src/app
    environment:
      DJ_DEBUG: "1"
